*{
    margin: 0px ;
    padding: 0px;
}

#content{
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
}

span{
    padding: 10px;
    font-size: 20px;
    color: #ff7300;
    font-weight: bold;
    cursor: pointer;
}

nav{
    display: flex;
    margin-left: 20px;
    float: right;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 10px 10px;
}

nav ul li a{
    padding: 14px;
    font-size: 1.2rem;
    color: wheat;
    text-decoration: none;
    justify-content: space-between;
}

nav ul li a:hover{
    color: #ff7300;
    border-radius: 100px;

}

/* item section :start */
.parent{
    display: flex;
    padding-top: 100px;
}

.child1{
    width: 30%;
    /* border: 2px solid red; */
    text-align: center;
}

.image{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin: 20px;
}

.name{
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
}

.university-name{
    margin-left: 110px;
    font-size: 20px;
    color: #ff7300;
}

.icons a{
    padding: 15px;
}
.icons img{
    height: 25px;
    width: 26px;
    cursor: pointer;
}
.icons img:hover{
    background-color: #ff7300;
}

.child2{
    width: 70%;
    /* border: 2px solid red; */
}

.child2 h1{
    text-align: center;
}

.child2 p{
    margin: 10px;
}

.devinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}

.hello {
    padding: 4px;
    font-size: 40px;
    margin: 4px;
}

.name {
    padding: 4px;
    font-size: 45px;
    margin: 4px;
    font-weight: bold;
}

.abc {
    padding: 4px;
    font-size: 35px;
    margin: 4px;
}

.moreabout {
    padding: 4px;
    font-size: 15px;
    margin: 4px;
}

.btn button{
    padding: 6px;
    border-radius: 7px;
    margin: 5px;
    cursor: pointer;
}
.btn button:hover{
    background-color: #080808;
    color: white;
}

/* about section start  */

